.resultados-do-mapa{
	display: flex;
  border-style: solid;
 	border-width: 0.3rem;
 	width: 90%;
 	height: 25rem;
 	margin: 1rem auto;
}

.mapa{	
	position: relative;
	width: 100%;
	height: 100%;
}

.pino{
	position: absolute;
	top: 35rem;
	left: 15rem;
	width: 2rem;
	height: 2rem;
}

.pino2{
	position: absolute;
	top: 22rem;
	left: 18rem;
	width: 2rem;
	height: 2rem;
}

.resultados{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem auto;
  width:90%;
  height: 100rem;
  border-style: solid;
 	border-width: 0.3rem;

}

.apartamento{
	display: flex;
	width: 100%;
	height: auto;
}

.filtro{
	display: flex;
	width: 90%;
	height: 4rem;
	margin: auto;
	margin-top: 1rem;
	border-style: solid;
 	border-width: 0.3rem;


}