.index-title{

	width: 70%;
	height: 4rem;
	font-family: 'Noto Serif JP', serif;
	font-size: 1.8rem;
	margin-top: 1.8rem;
	margin-left: 0.7rem;
}


.escolher{
	margin: 0 auto;
}

.aba-facul{
	margin: 0 auto;
	height: 16%;
	font-size: 100%;
}

.texto-facul{
	display: flex;
	width: 18rem;
	font-size: 1.5rem;
	text-align: center;
	
}

.main{
	display: flex;
	margin: 3rem auto;
	height: 12rem;
	width: 18rem;
	justify-content: space-between;
	flex-direction: column;
}