.quadro1{
	display: flex;
	border-style: solid;
	border-width: 0.1rem;
	margin-top: 0.5rem;
	height: 6.2rem;
	width: 96%;
	justify-content: space-between;
	flex-direction: row;
	margin: auto;
}

.quadro2{
	display: flex;
	border-style: solid;
	border-width: 0.1rem;
	margin-top: 0.08rem;
	height: 4rem;
	width: 96%;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	margin: 0.5rem auto;
}


.foto{
	margin-top: 0.1rem;
	width: 6rem;
	height: 6rem;
	margin-left: 1rem;
}

.nombre{
	margin-top: 0.7rem;
	font-size: 1.7rem;
	font-style: 'Noto Serif JP', serif;
	margin: 0 auto;
}

.new{
	display: flex;
	margin-right: 2rem;
	justify-content: space-around;
	flex-direction: column;
}

.alexia{
	font-size: 1.4rem;
	font-style: 'Lato', sans-serif;
	height: 2.3rem;
}

.email{
	font-size: 1.4rem;
	font-style: 'Noto Serif JP', serif;
	margin-left: 1rem;
}

.site{
	font-size: 1.1rem;
	font-style: 'Lato', sans-serif;
	font-style: italic;
	margin: 0 auto;
}

.sucasa{
	font-size: 1.4rem;
	font-style: 'Noto Serif JP', serif;
	margin-left: 1rem;
}

.alugada{
	width: 30%;
	height: 4rem;
}

.resultados{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0.1rem auto;
  width:96%;
  height: 40rem;
  margin-bottom: 6rem;

}

.apartamento{
	width: 100%;
	height: auto;
}

.casa{
	display: flex;
	justify-content: space-between;
  	flex-direction: column;
	margin-top: 0.1rem;
	border-style: solid;
 	border-width: 0.1rem;
}

.endereco{
	margin-top: 0.5rem;
	font-size: 1rem;
	margin-left: 0.5rem;
}

.ver-mais{
	margin-top: 0.5rem;
	width: 7rem;
	margin-left: 15rem;
}

.titulo2{
	margin: 0 auto;
	font-size: 1.4rem;
	font-style: 'Noto Serif JP', serif;
	margin-top: 0.5rem;
	margin-bottom: 0.2rem;
}
